ar_banking_homepage:
    pattern:  /
    defaults: { _controller: ARBankingBundle:Default:index }

ar_banking_accounts:
    pattern:  /account
    defaults: { _controller: ARBankingBundle:Account:index }

ar_banking_account:
    pattern:  /account/{accountId}
    defaults: { _controller: ARBankingBundle:Account:view }
    requirements:
        accountId:  \d+

ar_banking_account_all:
    pattern:  /account/{accountId}/all
    defaults: { _controller: ARBankingBundle:Account:viewAll }
    requirements:
        accountId:  \d+

ar_banking_account_overview:
    pattern:  /account/{accountId}/{year}
    defaults: { _controller: ARBankingBundle:Account:viewYear }
    requirements:
        accountId:  \d+
        year:  \d+