{% extends 'ARBankingBundle::template.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block body %}
    <h1 class="page-header">Accounts</h1>
    <table class="table table-striped table-hover">
        <thead>
        <th>Account Name</th>
        <th>Account Number</th>
        </thead>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ path('ar_banking_account', {'accountId': account.id}) }}">{{ account.name }}</a></td>
                <td>{{ account.number }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
